@{
    ViewBag.Title = "Facebook:Frinedship Calculator";
}
<div id="content_box">
    <div id="header">
        <h1>How much do I?</h1>
    </div>

    <div id="auth"><img id="auth-img" class="button" src="~/Images/fbbutton.png" height="200" width="200" /></div>

    <div id="find-friend" class="black"><img id="find-friend-img" class="button" src="~/Images/choose-friend.png" height="200" width="200" /></div>

    <div id="percentage" class="black">
        <span id="percentage-num"><span id="sentiment">0</span>%</span>
    </div>

    <div id="share" class="black"><img id="share-img" class="button" src="~/Images/share.png" height="200" width="200" /></div>
    <div class="spacer" style="clear: both;"></div>

    <div id="message"></div>
</div>
